OP_sem_3_lab_1/OP_sem_3_lab_1.sln
OP_sem_3_lab_1/.vs/
OP_sem_3_lab_1/OP_sem_3_lab_1/bin/
OP_sem_3_lab_1/OP_sem_3_lab_1/obj/
OP_sem_3_lab_1/OP_sem_3_lab_1/OP_sem_3_lab_1.csproj

OP_sem_3_lab_2/OP_sem_3_lab_2.sln
OP_sem_3_lab_2/.vs/
OP_sem_3_lab_2/OP_sem_3_lab_2/bin/
OP_sem_3_lab_2/OP_sem_3_lab_2/obj/
OP_sem_3_lab_2/OP_sem_3_lab_2/OP_sem_3_lab_2.csproj